<header [class.sticky]="true" class="fixed top-0 left-0 right-0 bg-gray-900 text-white shadow-md z-50">
  <nav class="container mx-auto px-4 py-4">
    <div class="flex items-center">
      <div class="mr-[10px]">
        <a [routerLink]="['/']" (click)="scrollToTop($event)">
          <img src="../../assets/logo_tchak_wa.png" alt="Logo" class="w-[50px] h-[50px]">
        </a>
      </div>
      <div class="text-3xl font-bold"><a [routerLink]="['/']" (click)="scrollToTop($event)">Tchak</a></div>
      <div class="flex-grow">
        <ul class="flex justify-center space-x-12">
          <li>
            <a (click)="navigateToSection('presentation')" i18n
              class="text-lg cursor-pointer transition-all duration-300 hover:text-[#f84c00] relative">
              Presentation
            </a>
          </li>
          <li>
            <a (click)="navigateToSection('price')" i18n
              class="text-lg cursor-pointer transition-all duration-300 hover:text-[#f84c00] relative">
              Prix
            </a>
          </li>
          <li>
            <a (click)="navigateToSection('event')" i18n
              class="text-lg cursor-pointer transition-all duration-300 hover:text-[#f84c00] relative">
              Event
            </a>
          </li>
          <li>
            <a (click)="navigateToSection('faq')" i18n
              class="text-lg cursor-pointer transition-all duration-300 hover:text-[#f84c00] relative">
              FAQ
            </a>
          </li>
          <li>
            <a (click)="navigateToSection('contact')" i18n
              class="text-lg cursor-pointer transition-all duration-300 hover:text-[#f84c00] relative">
              Contact
            </a>
          </li>
          <li>
            <a [routerLink]="['/reservation']" i18n
              class="bg-[#f84c00] text-white px-6 py-2 rounded-lg hover:bg-[#d94400] text-lg transition-colors">
              Réserver
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>