.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #f84c00;
    transition: width 0.3s ease;
  }

  a:hover::after {
    width: 100%;
  }